<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head th:replace="layout :: head(~{this :: title})">
    <title>MyGolfClub Members Directory</title>
</head>
<body th:replace="layout :: body(~{this :: main})">
<main>
    <div class="container">
        <h2>MyGolfClub Members Directory</h2>
        <hr>
        <p>
            You are currently login as: <b><span sec:authentication="principal.username"></span></b>
        </p>
        <div>
      <span sec:authorize="hasRole('MODERATOR')">
        <a th:href="@{/my-golf-club/members/add}"
           class="btn btn-primary btn-sm mb-3">
          &plus; Add Member
        </a>
      </span>
            <span sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/my-golf-club/users/add}"
           class="btn btn-primary btn-sm mb-3">
          &plus; Add User
        </a>
      </span>
            <a th:href="@{/my-golf-club}"
               class="btn btn-secondary btn-sm mb-3">
                &#127968;
            </a>
            <span th:if="${!activeOnly}">
          <a th:href="@{/my-golf-club/members/list/active}"
             class="btn btn-secondary btn-sm mb-3">
              Active Members List
          </a>
      </span>
            <span th:unless="${!activeOnly}">
          <a th:href="@{/my-golf-club/members/list}"
             class="btn btn-secondary btn-sm mb-3">
              Members List
          </a>
      </span>
            <form action="#" th:action="@{/logout}" method="post">
                <input type="submit" value="Logout"
                       class="btn btn-secondary btn-sm mb-3">
            </form>
        </div>
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Active Member</th>
                <th sec:authorize="hasRole('ADMIN')">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="eachMember : ${members}">
                <td th:text="${eachMember.firstName}"></td>
                <td th:text="${eachMember.lastName}"></td>
                <td th:text="${eachMember.email}"></td>
                <td>
                <span th:if="${activeOnly}"
                      th:text="${eachMember.activeMember} ? 'yes'">
                </span>
                    <span th:unless="${activeOnly}"
                          th:text="${eachMember.activeMember ? 'yes' : 'no'}">
                </span>
                </td>
                <td sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/my-golf-club/members/update(memberId=${eachMember.id})}"
                       class="btn btn-info btn-sm">Update</a>
                    <a th:href="@{/my-golf-club/members/delete(memberId=${eachMember.id})}"
                       class="btn btn-danger btn-sm">&#45; Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>