<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout :: head(~{this :: title})">
    <title>MyGolfClub Members Directory</title>
</head>
<main>

</main>
<body th:replace="layout :: body(~{this :: main})">
<main>
    <div class="container">
        <h2>MyGolfClub Members Directory</h2>
        <hr>
        <p>
            You are currently login as: <b><span sec:authentication="principal.username"></span></b>
        </p>
        <span>
            <a th:href="@{/my-golf-club}"
               class="btn btn-secondary btn-sm mb-3">
                &#127968;
            </a>
            <a th:href="@{/my-golf-club/members/list}"
               class="btn btn-secondary btn-sm mb-3">
                Members List
            </a>
            <form action="#" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout"
                   class="btn btn-secondary btn-sm mb-3">
            </form>
        </span>
        <p class="h4 mb-4">Add Member</p>
        <form action="#" th:action="@{/my-golf-club/members/save}"
              th:object="${member}" method="POST">

            <input type="hidden" th:field="*{id}">

            <label>First name</label> <input type="text" th:field="*{firstName}"
                                             class="form-control mb-4 w-25" placeholder="First name">
            <div th:if="${#fields.hasErrors('firstName')}"
                 th:errors="*{firstName}"
                 th:errorclass="'alert alert-danger col-xs-offset-1 col-xs-10'">
            </div>

            <label>Last name</label> <input type="text" th:field="*{lastName}"
                                            class="form-control mb-4 w-25" placeholder="Last name">
            <div th:if="${#fields.hasErrors('lastName')}"
                 th:errors="*{lastName}"
                 th:errorclass="'alert alert-danger col-xs-offset-1 col-xs-10'">
            </div>

            <label>Email</label> <input type="email" th:field="*{email}"
                                        class="form-control mb-4 w-25" placeholder="Email address">
            <div th:if="${#fields.hasErrors('email')}"
                 th:errors="*{email}"
                 th:errorclass="'alert alert-danger col-xs-offset-1 col-xs-10'">
            </div>

            <label>Active membership:</label> <select th:field="*{activeMember}">
            <option th:value="${true}"
                    th:text="yes">
            </option>
            <option th:value="${false}"
                    th:text="no">
            </option>
        </select>

            <button type="submit" class="btn btn-info col-2">Save</button>
        </form>
        <br>
    </div>
</main>
</body>
</html>